<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 8px;
            }
            th {
                background-color: #f2f2f2;
            }

            .home-container{
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;

            }
        </style>
    </head>
    <body>

        {% extends "main.html" %}
        
        {% block content %}
        

        <div class ="home-container">
            <div>
                <h3> Browse Topics </h3>
                <hr>

                <div>
                    <a style="font-weight: 600" href="{% url 'home' %}"> See All </a>
                </div>

                <hr>

               

                {% for topic in topics %}
                    <div>
                        <a style="text-decoration: none; color: green; font-weight: 600" href="{% url 'home' %}?q={{topic.name}}"> {{topic.name}} </a>
                    </div>
                    <hr>


                {% endfor %}

            </div>

            <div>

                <div>
                    <h5> {{room_count}} rooms available </h5>

                    <a style="color:red; font-size:24px" href="{% url 'addRoom' %}"> Add room </a> <br>
                    <hr>

                    {% for i in r %}

                    <div> 
                        <span>Host Name: {{i.host.username}} </span>

                        <h4> Id: @{{i.id}} </h4>

                        <p> <a href="{% url 'room' i.id%}"> Room Name: {{i.name}} </a> </p>

                        <small>Topic: {{i.topic.name}} </small> <br>

                        {% if request.user == i.host %}

                        <a href="{% url 'editRoom' i.id %}"> Edit room </a> <br>
                        
                        <a href="{% url 'deleteRoom' i.id %}"> Delete room </a>

                        {% endif %}

                        
                    </div>

                    <hr>

                    {% endfor %}

            
                    {% comment %} <table>
                        <thead>
                            <tr>
                                <th> User </th>
                                <th>ID</th>
                                <th>Name</th>
                                <th> Topic </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in r %}


                        
                            <tr> 
                                <td> <span> @{{i.host.username}} </span> </td>
                        

                                <td> {{i.id}}</td>
                                {% comment %} <td> <a href="/room/{{i.id}}">  {{i.name }}  </a> </td> {% endcomment %}

                                {% comment %} Using url name for reference  {% endcomment %}

                                {% comment %} <td> <a href="{% url 'room' i.id%}"> {{i.name}} </a> </td>

                                <td> <small> {{i.topic.name}} </small>

                                <td> <a href="{% url 'editRoom' i.id %}"> Edit room </a> </td>
                                    
                                <td> <a href="{% url 'deleteRoom' i.id %}"> Delete room </a> </td> {% endcomment %}

                                
                            {% comment %} </tr>

                            <hr>
                        
                        {% endfor %}
                        
                        </tbody>
                    </table>  {% endcomment %}
                
                </div>

            </div>

            <div>
                <h3> Recent Activities </h3>
                <hr>
                {% for msg in msg %}
                    <div style="border: 1px solid">
                        <small> <b> @{{msg.user}}  {{msg.created|timesince}} </b> </small> <br>

                        <small > <i> Replied to "{{msg.room}}" </i> </small>

                        <p> {{msg}} </p>

                    </div>

                {% endfor %}
            </div>
        
        </div>
        

       

        

    
        {% endblock content %}

        
        <script src="" async defer></script>
    </body>
</html>